.previous-tab,
.next-tab {
    display: inline-block;
    border: 1px solid #444348;
    border-radius: 3px;
    margin: 5px;
    color: #444348;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .lefter {
        margin-left: 33% !important;
    }
}

.tab-pane.active {
    animation: slide-down 0.8s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateY(100%); }
    100% { opacity: 1; transform: translateY(0); }
}
body {
    overflow: auto;
    max-height: 100vh;
}

.btn-outline-primary{
    border-color: orange !important;
    color: orange;
}
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
background-color: white !important;
}

.btn-outline-primary:hover {
    border-color: orange;
    color: black;
    background-color: orange !important;
}

@media only screen and (max-width: 768px) {
    body {
      overflow-y: scroll;
    }
  }